<!DOCTYPE HTML>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="site/head::head(${commons.site_title()},${commons.google_site_verification()}, ${commons.baidu_site_verification()})"></div>




<body>

    

    	<!-- header -->

        <div th:replace="site/header::header"></div>


        <!-- header -->

        <!-- main -->

        <main role="main-inner-wrapper" class="container">

        	

            <div class="row">

            

            	<section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">

                	<article role="pge-title-content">

                    	<header>

                        	<h2><span>Hi! </span> My name is Kevin Zhong</h2>

                        </header>

                        <p>I’m a Java Developer with an enduring interest in Coding and Write Blog</p>

                    </article>

                </section>

                

                <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

                	<article class="about-content">
                        <p>嗨，大家好，我是钟凯，一名热爱编程、源码解析和探究技术本质的Java后端程序员。我的编程之路始于对技术的好奇心，而如今已经成为了我热情的追求。通过不断深入学习和实践，我不仅仅是一名码农，更是一位对技术充满激情的倡导者。</p>

                        <p>在我的职业生涯中，我始终注重从源码中汲取经验和智慧。阅读框架和库的源代码成为我提升技能的重要途径之一。透过代码的层层堆叠，我不仅能够理解技术的实现细节，更能领悟到其中蕴含的设计思想和工程实践。这种深入源码的习惯，不仅让我在解决问题时游刃有余，还培养了我对系统架构和性能优化的敏感度。</p>

                        <p>除了技术上的追求，我还热衷于体育运动和旅行。在工作之余，你可能会在球场上找到我的身影，因为我热爱各种球类运动，不仅能够锻炼身体，还能释放压力，让大脑得到放松。另外，旅行也是我生活中不可或缺的一部分。走出舒适区，探索未知的风景和文化，让我不断开拓眼界，丰富自己的阅历，也常常为我带来灵感和启发。</p>

                        <p>通过我的博客，我希望能够与大家分享我的技术心得、源码解析、生活感悟以及旅行见闻。我相信，技术的魅力不仅在于其实用性，更在于其深刻的哲学内涵和对世界的不断探索。愿我们一起在技术的海洋中探索前行，在生活的旅途中相伴成长。</p>

                    </article>

                </section>

                

                <div class="clearfix"></div>

                

                <!-- thumbnails -->

                	<div class="thumbnails-pan">
                        <th:block th:each="link,linkStat : ${links}">
                            <th:block th:if="${linkStat.index < 3}">
                                <section class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">

                                    <figure>

                                        <img th:src="@{'/site/images/about-images/header.jpg'}" th:onclick="'javascript:linkFirend(\''+${link.slug}+'\')'" class="img-responsive"/>

                                        <figcaption>

                                            <h3><th:block th:text="${link.name}"></th:block></h3>

                                            <h5><th:block th:text="${link.description}"></th:block></h5>

                                        </figcaption>

                                    </figure>

                                </section>
                            </th:block>

                        </th:block>



                        

                     

                    </div>

                <!-- thumbnails -->

                

                

            </div>

        </main>

    	<!-- main -->

        <!-- footer -->

        <div th:replace="site/footer::footer(${commons.site_title()},${commons.site_record()},${commons.site_url()})"></div>

</body>
</html>